h1{
  padding: 10px;
  background: lightskyblue;
}
.index1 {
  position:relative;
  top: 30px;
  background: greenyellow;
    z-index: -1;
}

.index2{
  position:relative;
  background: lightcoral;
  top:60px;
  z-index: -1;
}

.index3{
 position:relative;
 z-index:3;
}